body{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height: 400px;                /* Parallax effect */
  color: #050505;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/aboutme1.jpg");
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-emphasis: bold;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
} 

p {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav a{
  color: rgb(8, 8, 8);
  font-weight: bold;
  text-decoration: none; 
  border: 2px solid #050505;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 10fr;
  background-color: #dad2d2;
  opacity: 90%;
}

nav a:hover, nav a:focus{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

a:focus{
  border: 2px solid black;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

nav{
  background-attachment: fixed;     
  background-position: center;  
  background-repeat: no-repeat;  
  background-size: cover;       
  background-image: url("../images/waternav1.jpg");
  background-repeat: no-repeat; 
  padding: 15px; 
  text-align: center;
}


.footer, .push {
  height: 50px;
}

.container{
  display: flex; 
  flex-wrap: wrap;
  /* margin: 5px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
  
} 

.aboutme{
  margin: 10px;
  background: #d5e5ee;
  border: 3px solid #74dcf7;
  color: #000000;
  padding: 15px ;
  text-align: center;
  opacity: 90%;
  /* grid-row: 2 / auto;
  grid-column: 1 / -1; */
} 

.icons {
  width: 25px;
  margin: 5px;
}

.fa-lg {
  font-size: 1.3em;
}

.fa {
  display: inline-block;
}

.button {
  -webkit-writing-mode: horizontal-tb !important;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding: 20px 1px;
  border-style: none;
  border-image: initial;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  text-emphasis: bold;
  color: #000000;
}  

.fa {
  padding: 21.5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #025d88;
  color: white;
}

.container1{
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  align-items: center;
}

.container2{
  display: grid;
  grid-row-gap: 3em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* .resume-image{
  max-height: 700px;
  min-width: 100%;
  overflow: auto;
} */

.physics-image, .venus-image, .roush-image, .algae-image{
  grid-column: 1 / -1;
  max-height: 700px;
  /* min-width: 100%; */
  overflow: hidden;
} 

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  align-self: center;
}

.physics, .venus, .roush, .algae{
  grid-column: 2 / span 1 ;
}

/* .physics-image, .venus-image, .roush-image, .algae-image{
  grid-column: 1 / -1;
  max-height: 700px;
  overflow: hidden;
} */

.physics, .physics-image{
  grid-row: 2 / auto;
}

.venus, .venus-image{
  grid-row: 3 / auto;
}

.roush, .roush-image{
  grid-row: 4 / auto;
}

.algae, .algae-image{
  grid-row: 5 / auto;
}

.gallery{
  min-height: 600px; 
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 115, 151);
}

.gallery > img{
  border: 5px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

.gallery1{
  min-height: 600px; 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 115, 151);
}

.gallery1 > img{
  border: 5px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}


header{
  color: #000000;
  background-color: #d5e5ee;  
  border-top: 3px solid #74dcf7;           
  border-bottom: 3px solid #74dcf7;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 90%;
}

/* for the form */

form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
  text-align: center;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
  border: 5px solid #0d0ae9;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #0004f7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}
 /* for the form */

  /* for the animation */

  @-webkit-keyframes bounce{
    /*Your code here.*/
  
    from {
      height: 25px;
    }
    to {
      height: 45px;
    }
  }
  
  @keyframes bounce{
    /*Your code here.*/
    from {
      height: 5px;
    }
    to {
      height: 45px;
    }
  } 
  
  #bounce{
     /*Your code here.*/
     /* background-color: #74dcf7; */
     animation-name: bounce;
     animation-duration: 5s;
     animation-iteration-count: 1;
     animation-direction: reverse;
     display: block;
     margin-right: auto;
     backface-visibility: hidden;
     perspective: 1000;
  }

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  margin: 20px 35px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  position: relative;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.nav_item a:active{
  background-color: #50C7C7;
  text-decoration: none;
  text-transform: capitalize;
}

.nav_item a:hover, a:focus{
  color: #0a0a0a;
  background-color: aqua;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  #logo{
    animation: none;
  }

  header{
    background-attachment: initial; /* turn off parallax */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
  }