body{
color: #050505;
font-size: 16px;
font-family: "Andika", sans-serif;
background-size: cover;
/* background-position: center; */
background-image: url("../images/aboutme1.jpg");
background-color: aliceblue;
margin: 0;
padding: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-emphasis: bold;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
} 

p {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav a{
  color: rgb(8, 8, 8);
  font-weight: bold;
  text-decoration: none; 
  border: 2px solid #050505;
  border-top-left-radius: .8em;
  border-top-right-radius: .8em;
  border-bottom-left-radius: .8em;
  border-bottom-right-radius: .8em;
}

nav a:hover, nav a:focus{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

a:focus{
  border: 2px solid black;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

nav{
  background-attachment: fixed;     
  background-position: center;  
  background-repeat: no-repeat;  
  background-size: cover;       
  background-image: url("../images/waternav1.jpg");
  background-repeat: no-repeat; 
  padding: 15px; 
  text-align: center;
}


.footer, .push {
  height: 50px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  
} 

.aboutme{
  margin: 10px;
  background: #d5e5ee;
  border: 3px solid #74dcf7;
  color: #000000;
  padding: 15px ;
  text-align: center;
  opacity: 70%;
  /* grid-row: 2 / auto;
  grid-column: 1 / -1; */
} 

.icons {
  width: 25px;
  margin: 5px;
}

.fa-lg {
  font-size: 1.3em;
}

.fa {
  display: inline-block;
}
.container1{
  display: grid;
  grid-row-gap: 70px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.container2{
  display: grid;
  grid-row-gap: 3em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.resume-image{
  max-height: 700px;
  min-width: 100%;
  overflow: auto;
}


.physics, .venus, .roush, .algae{
  grid-column: 2 / span 1;
}

.physics-image, .venus-image, .roush-image, .algae-image{
  grid-column: 1 / -1;
  max-height: 700px;
  overflow: hidden;
}

.physics, .physics-image{
  grid-row: 2 / auto;
}

.venus, .venus-image{
  grid-row: 3 / auto;
}

.roush, .roush-image{
  grid-row: 4 / auto;
}

.algae, .algae-image{
  grid-row: 5 / auto;
}

.gallery{
  min-height: 600px; 
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 115, 151);
}

.gallery > img{
  border: 5px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

.gallery1{
  min-height: 600px; 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 115, 151);
}

.gallery1 > img{
  border: 5px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}


header{
  color: #000000;
  background-color: #d5e5ee;  
  border-top: 3px solid #74dcf7;           
  border-bottom: 3px solid #74dcf7;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 70%;
}

/* for the form */

form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
  text-align: center;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
  border: 5px solid #0d0ae9;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #0004f7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}
 /* for the form */

  /* for the animation */

  @-webkit-keyframes bounce{
    /*Your code here.*/
  
    from {
      height: 25px;
    }
    to {
      height: 45px;
    }
  }
  
  @keyframes bounce{
    /*Your code here.*/
    from {
      height: 5px;
    }
    to {
      height: 45px;
    }
  } 
  
  #bounce{
     /*Your code here.*/
     background-color: #74dcf7;
     animation-name: bounce;
     animation-duration: 5s;
     animation-iteration-count: 1;
     display: block;
     margin-right: auto;
  }

.nav_item a:active{
  background-color: #50C7C7;
  text-decoration: none;
  text-transform: capitalize;
}

.nav_item a:hover, a:focus{
  color: #0a0a0a;
  background-color: aqua;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
  }