body{
background-image: url("../images/aboutme1.jpg");
background-repeat: no-repeat;
font-family: "Istok Web", sans-serif;
font-weight: normal;
line-height: 1.2em;
}

header{
  height: 100px;
  position: fixed;
  padding: 0 100px;
  display: block;
  z-index: 1000;
}

.navbar {
  position: sticky;
  height: 100px;
  margin-bottom: 1em;
  margin: 0;
  z-index: 1000;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  padding: 0rem 0rem;
}

.navbar {
  position: relative;
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

@media (max-width: 767px){
#box {
    display: none;
}
}
#box {
  width: 117px;
  height: 100px;
  background-color: #0C3D99;
  z-index: 1000;
  display: none;
}

*, ::after, ::before {
  box-sizing: inherit;
}

div {
  display: block;
}

@media (max-width: 960px){
.flex-sm-row {
    width: auto;
    background-color: rgba(12,61,153,0.7);
}
.flex-row-reverse{
  display: none;
  background-color: rgba(12,61,153,0.7);
  z-index: -1000;
  width: 100%;
  flex-direction: row-reverse;
}
}

.navbar-nav {
  position: absolute;
  top: 60px;
  height: 50px;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 767px){
#logo {
    border: 0px;
    background-color: #0C3D99;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100px;
}
}

#logo {
  padding: 0.85rem 0rem;
  z-index: 3000;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-item {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.44rem;
  color: #FFFFFF;
  border-right: 2.5px solid #FF6756;
  padding-top: 15px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  /* -webkit-text-decoration-skip: objects; */
}

#sm-nav {
  position: fixed;
  top: 0;
  right: 8.33%;
  left: 8.33%;
  height: 100px;
  background-color: rgba(12,61,153,0.5);
  z-index: -2000;
}

.align-items-end {
  /* -ms-flex-align: end; */
  align-items: flex-end;
}

.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.sm-nav-text {
  position: relative;
  font-size: 1rem;
  line-height: 1.07rem;
  padding: 0.32rem 1rem;
  width: 130px;
  text-align: end;
}

#social-media {
  color: #FF6756;
  border-right: 2.5px solid #FF6756;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.icons {
  width: 25px;
  margin: 5px;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}



h1{
font-size: 50px;
line-height: 1;
text-align: center;
} 

h2{
font-size: 40px;
line-height: 1;
text-align: center;
} 

p{
  font-size: 35px;
  padding-top: 30px;
  text-align: center;
}

.container{
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.aboutme-image{
  grid-column: auto;
}

.aboutme{
  grid-column: 2 / span 1;
}

.aboutme, .aboutme-image{
  grid-row: 2 / auto;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  align-self: center;

}
/* nav li{
display:inline;
padding: 50px 0;
}

nav a{
color: black;
font-weight: bold;
text-decoration: none; 
} */

/*Your Code Here*/
/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
/* nav a:hover, nav a:focus{
text-decoration: underline;
}

a .skip{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -40px;
/*Your code here*/


/*Your Code Here*/
/*Write selector/rule property to position the skip class element*/
/* a.skip:focus{
top: 20px;
color: #000000;
text-decoration-style: solid;
}
/*Your Code Here*/
/*Write selector/rule property to style all elements when in focus*/
*:focus{
border: 2px solid #000000;
} */

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.aboutme{
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutme-image{
  min-height: 600px;
  /*display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;*/
} 

.aboutme-image > img{
  border: 10px #000000 solid;
  margin: auto;
  width: 300px;
}

/* .aboutme text-block */

/*nav{
background-color: #ddd;
padding: auto; 
text-align: center;
}*/
header{
  background: #fff;
  border-bottom: 3ox solid #000000;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.nav_links{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav_item a{
  color: #000000;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (prefers-reduced-motion: reduce){
  #logo {
    animation: none;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
