body{
color: #000000;
font-size: 16x;
font-family: "Andika", sans-serif;
background-size: cover;
background-position: center;
background-image: url("../images/aboutme1.jpg");
background-color: aliceblue;
}

main{
  margin: 1.2em;
  margin-bottom: 100px;
}

h1{
color: #000000;
font-size: 50px;
line-height: 1;
text-align: center;
} 

h2{
font-size: 40px;
line-height: 1;
text-align: center;
} 

p{
  font-size: 35px;
  padding-top: 30px;
  text-align: center;
}

.container{
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.aboutme-image{
  grid-column: auto;
}

.aboutme{
  grid-column: 2 / span 1;
}

.aboutme, .aboutme-image{
  grid-row: 2 / auto;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  align-self: center;

}

*:focus{
border: 2px solid #000000;
} */

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (prefers-reduced-motion: reduce){
  #logo {
    animation: none;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
